@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
:root{
    --primary-color: #054C73;
    --bgcolor-light:#DFE9F4;
    --bg-color-section:#F2F5FF;
    --white-info:#fff;
    --lorem-content:#606060;
}
body{
    width: 100%;
}
.header-container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
   border-bottom: 1px solid var(--primary-color);
    backdrop-filter:blur(10px);
}
.header{
    height: 70px;
    padding: 0 5rem; 
    z-index: 1;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoname{
    font-size: 1.5rem;
    color:var(--primary-color) ;
    font-weight: 600;
    pointer-events: none;
}
.navlist nav{
    display: flex;
    list-style: none;
}
.navlist nav li a{
    margin-left: 3rem;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color);
}
.navlist nav li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    width: 3.5rem;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s ease;
    transform-origin: left;
    background-color: var(--primary-color);
    color: var(--primary-color);
}
.navlist nav li a:hover::after{
    transform: scale(1);
}
.bars{
    display: none;
}
button{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.listitem{
    position:fixed;
    z-index: 999;
    /*position: absolute;*/
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 1s ease;
    background: var(--bgcolor-light);
}
.navlistitem{
    width: 100%;
     background-color: var(--bg-color-section);
   padding: 1rem;
   list-style: none;
}
.navlistitem li{
    text-decoration: none;
    padding: 0.8rem;
    border-bottom: 0.5px solid var(--primary-color);
}
.navlistitem li a{
    position: relative;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}
.navlistitem li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 3.5rem;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s ease;
    transform-origin: left;
    background-color: var(--primary-color);
    color: var(--primary-color);
}
.navlistitem li a:hover::after{
    transform: scale(1);
}
@media  (max-width:720px) {
    .header{
        padding: 0 2rem;
    }
    .navlist nav{
        display: none;
    }
    .bars{
        display: block;
    }
}
/*================Hero Section ================*/

.hero-main{
    width: 100%;
}
.hero-img{
    position: relative;
    width: 100%;
}
.hero-img img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.hero-card-main{
    z-index: 1;
    position: absolute;
    width: 35%;
    background:var(--bgcolor-light);
    top:20%;
    right: 5%;
    border-radius: 10px;
}
.hero-card{
    margin: 2rem 3rem;
}
.hero-card h6{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}
.hero-card .title{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}
.hero-card .card-content{
    font-size: 0.8rem;
    color:var(--lorem-content);
    margin-bottom: 0.5rem;
}
.hero-card .card-btn{
    background-color: var(--primary-color);
    width: 50%;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color:var(--white-info);
    border: none;
    font-weight: 600;
    border-radius: 40px;
}
@media (max-width:728px){
    .hero-card-main{

        width: 60%;
    }
    .hero-img img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        background-size: cover;
    }
    .hero-card{
        margin: 0;
        padding: 1rem;
    }
    .hero-card h6{
        font-size: 0.6rem;
        margin-bottom: 0.3rem;
        letter-spacing: 2px;
    }
    .hero-card .title{
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 0.2rem;
    }
    .hero-card .card-content{
        font-size: 0.4rem;
        margin-bottom: 0.2rem;
    }
    .hero-card .card-btn{
        background-color: var(--primary-color);
        width: 40%;
        padding: 0.4rem 0;
        font-size: 0.4rem;
        color:var(--white-info);
        border: none;
        font-weight: 600;
    }
}
/****Authentic icon Display ****/

.authentic-icon-main{
    width: 100%;
    padding: 0 5rem;
    background-color: var(--bg-color-section);
}
.authentic-icon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.authentic-icon .icon-card{
    flex:1 1 auto;
    display: flex;
    padding: 1.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.icon-card .icon{
    font-size:2rem;
    color: var(--primary-color);
}
.icon-card .icon-name .name{
    font-size:1.1rem;
    color: var(--primary-color);
    font-weight: 500;
}
.icon-card .icon-name .msg{
    font-size: 0.8rem;
    color: var(--lorem-content);
}
@media (max-width:720px){
    .authentic-icon-main{
        padding: 0 1rem;
    }
}
/*=========Inspiration Section=============*/
.inspiration-section-main{
    width: 100%;
}
.inspiration-section{
    padding: 3rem 5rem;
}
.section-heading{
    text-align: center;
    font-size: 2.3rem;
    color: var(--primary-color);
}
.section-heading p{
    font-size: 0.8rem;
    color: var(--lorem-content);
    letter-spacing: 2px;
}
.inspiration-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.inspiration-card .card{
      width: 100%;
}
.inspiration-card .card img{
    width: 100%;
    background-size:cover;
}
@media (max-width:720px){
    .inspiration-section-main{
        display: none;
    }
}
/*=================Browse the range sectin============*/
.browse-section-main{
    width: 100%;
    border-bottom: 0.5px solid rgb(211, 211, 211); 
}
.browse-section{
    padding: 3rem 5rem;
}
.card-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.card-section .card{
    width: 30%;
    text-align: center;
}
.card-section .card p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: var(--lorem-content);
    font-weight: 600;
}
.card-section .card img{
    width: 100%;
}
@media (max-width:720px){
    .browse-section{
        padding: 2rem 1rem;
    }
    .section-heading{
        font-size: 1.7rem;
    }
    .section-heading p{
        font-size: 0.8rem;
        letter-spacing: 0;
    }
    .card-section .card{
        flex: 1 1 100%;
    }
    .card-section .card p{
        font-size: 1.5  rem;
    }
}
/**************How its works section ************************/

.howitswork-section-main{
    width: 100%;
}
.howitswork-section{
    width: 100%;
    padding: 3rem 5rem;
}
.howitswork-card-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
}
.howitswork-card-section .howitswork-card{
    width: 30%;
}
.howitswork-card img{
    width: 100%;
}
.howitswork-card p{
    text-align: center;
    font-size: 0.8rem;
    color: var(--lorem-content);
}
@media (max-width:720px){
    .howitswork-section{
        padding: 2rem 1rem;
    }
    .howitswork-card{
        flex: 1 1 100%;
    }
}
/*==================UserFeedBack card Component ===============*/
.user-feedback-card{
    background-color: var(--bgcolor-light);
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}
.user-feedback-card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}
.user-feedback-card h5{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.user-feedback-card p{
    color: var(--lorem-content);
    font-size: 0.8rem;
    margin-top: 1rem;
}
/*====================User Feed back section ==============*/
.user-feedback-section{
    width: 100%;
}

.user-FeedBack{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    padding: 2rem 3rem;
    gap: 20px;
}
.user{
    width: 50%; 
}

.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background-color: gray;
    opacity: 0.2;
    margin: 0 6px;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s; color: var(--primary-color);
}
.swiper-pagination-bullet-active {
    background-color:var(--primary-color);
    transform: scale(1.2);
    opacity: 1;
}
.swiper-button-next::after{
    font-size: 1rem;
    color: var(--primary-color);
}
.swiper-button-prev::after{
    font-size: 1rem;
    color: var(--primary-color);
}
@media (max-width:728px){
    .user{
        flex: 1 1 100%;
    }
    .user-FeedBack{
        padding: 2rem 1rem;
    }
}
/******************email list section *******************/

.email-list-section-main{
    width: 100%;
    background: var(--bg-color-section);
}
.email-list-section{
    padding: 3rem 5rem;
}
.email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.email-input{
    display: flex;
    justify-content: center;
    width: 60%;
}
.email-input input{
    padding: 0.5rem;
    width: 70%;
    outline: none;
    border: 2px solid var(--primary-color);
}
.email-input button{
    width: 20%;
    padding:0.5rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white-info);
    border: 2px solid var(--primary-color);
    transition: 0.5s ease;
}
.email-input button:hover{
    color: var(--primary-color);
    background-color: var(--white-info);

}
@media (max-width:728px){
    .email-list-section{
        padding: 2rem 1rem;
    }
    .email-input input{
        width: 100%;
        padding: 0.9rem;
        font-size: 1rem;
    }
    .email-input{
        flex: 1 1 100%;
        flex-direction: column;
        gap: 1.5rem;
    }
    .email-input button{
        width: 100%;
        padding: 0.9rem;
    }
}
/*****************footer***********************/
footer{
    width: 100%;
    background-color: var(--primary-color);
    padding: 3rem 2rem;
}
.footer-content{
    display: flex;
    gap: 15rem;
}
.footer-left-part{
    color: var(--white-info);
}
.followus-part p{
    font-size: 1.2rem;
    font-weight:600 ;
    margin-top: 1rem;
}
.followus-icon{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
}
.followus-icon .icon{
    display: inline-flex;
    background: var(--white-info);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-right: 1rem;
    border: 2px solid var(--white-info);
    color: var(--primary-color);
    transition: 0.5s ease;
}
.followus-icon .icon:hover{
    background: var(--primary-color);
    border: 2px solid var(--white-info);
    box-shadow: 2px 3px 5px  var(--bg-color-section);
    color: var(--white-info);
}
.footer-logo h2{
    font-size: 2rem;
    margin-bottom: 0.7rem;
}
.footer-logo p{
    font-size: 0.8rem;
}
.footer-right-part{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-right-part .footer-list{
    text-decoration: none   ;
    color: var(--white-info);
    font-size: 0.9rem
}
.footer-list h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.footer-list li{
    list-style: none;
    margin-top: 0.5rem;
}
.footer-list li a{
    text-decoration: none;
    color: var(--white-info);
    cursor: pointer;
}
.copyright{
    width: 100%;
    background-color: var(--bg-color-section);
}
.copyright-msg{
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    color: var(--primary-color);
    font-weight: 500;
}
@media (max-width:728px){
    footer{
        padding: 2rem 1rem;
    }
    .footer-content{
        flex: 1 1 100%;
        flex-direction: column;
        gap: 40px;
    }
    .footer-right-part{
        flex:1 1 100%;
        gap: 40px;
       flex-wrap: wrap;
    }
    .footer-right-part .footer-list{
        width: 30%;
    }
}